.portfolio {
  grid-row: 5 / 6;
  grid-column: 1 / 9;
  &__header {
    margin-bottom: 0;
    background-image: url(../img/portfolio/portfolio-logo.jpg);
  }
  &__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    @media (min-width: $bp-largest) {
      grid-template-columns: repeat(6, 1fr);
    }
    .gallery--item {
      height: 100%;
      width: 100%;
      
      img {
        display: block;
        height: 100%;
        width: 100%;
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }

}